<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dashinginfo.pratices.logic.log" type="Dashinginfo.Practices.Logic.Log.LogSettingsSectionHandler, Dashinginfo.Practices.Logic.Log"/>
  </configSections>
  <!--
  -Options: File, SqlServer,EventLog
  -Note: The framework will attempt to log to each of the MediaType specified.
  -->
  <dashinginfo.pratices.logic.log>
    <adapters>
      <add name="Database" verbose="True" providerName="SqlServer" connectionString="data source=www.dashinginfo.com;initial catalog=BudgetToolNew;User id=budgettool;Pwd=budgettool; pooling=true;connection lifetime = 30;connection timeout = 20"></add>
    </adapters>
  </dashinginfo.pratices.logic.log>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
</startup>
</configuration>
