<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dashinginfo.pratices.logic.log" type="Dashinginfo.Practices.Logical.Log.LogSettingsSectionHandler, Dashinginfo.Practices.Logical"/>
  </configSections>
  <!--
  -Options: File, SqlServer,EventLog
  -Note: The framework will attempt to log to each of the MediaType specified.
  -->
  <dashinginfo.pratices.logic.log>
    <adapters>
      <add name="SqlServer" providerName="SqlServer" connectionString="data source=www.dashinginfo.com;initial catalog=BudgetTool;User id=budgettool;Pwd=budgettool; pooling=true;connection lifetime = 30;connection timeout = 20"></add>
      <!--<add name="File"></add>-->
    </adapters>
  </dashinginfo.pratices.logic.log>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
