<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MailAssembly" value="Dashinginfo.Practices.Mail"/>
    <add key="MailReceive" value="Dashinginfo.Practices.Mail.Pop3.Pop3Client"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlMain" connectionString="data source=192.168.0.100;initial catalog=ICROTest;User id=sa;Pwd=123"/>
  </connectionStrings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
