<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="NameSpaces" value="JIAOFENG"/>
    <add key="EntityDirectory" value="D:\SourceCode\JIAOFENG\JIAOFENG.PersisterceEntity"/>
    <add key="EnumDirectory" value="D:\SourceCode\JIAOFENG\JIAOFENG.Logic"/>
    <add key="DalDirectory" value="D:\SourceCode\JIAOFENG\JIAOFENG.Repository\AutoGeneration"/>
    <add key="LogicDirectory" value="D:\SourceCode\JIAOFENG\JIAOFENG.Logic\AutoGeneration"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
